/*
    Wilmot.css
    A CSS stylesheet with class, inspired by Riot.im (https://riot.im)
    © 2019 Marquis Kurt. All rights reserved.
*/
@import url('https://fonts.googleapis.com/css?family=Merriweather|Nunito');
@import url(https://cdn.jsdelivr.net/gh/tonsky/FiraCode@1.206/distr/fira_code.css);

html, body {
    font-family: 'Merriweather', 'Times New Roman', Times, serif;
    height: 100%;
    min-height: 100%;
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

a:not(a[name]):not(.button) {
    text-decoration: none;
    color: #368bd6;
}

a:not(a[name]):not(.button):hover {
    text-decoration: none;
    color: #5ea2de;
}

footer {
    padding-left: 15%;
    padding-right: 15%;
    padding-top: 16px;
    padding-bottom: 16px;
    background-color: #f4f4f4;
}

footer p {
    font-size: 0.75em;
}

hr {
    margin-top: 5%;
    margin-bottom: 5%;
    opacity: 0.75;
}

.navbar {
    height: 76px;
    width: 100%;
    background-color: #f4f4f4;
    border-bottom-color: #999999;
    border-bottom-width: 2px;
    border-bottom-style: solid;
}

.navbar .navbar-flex {
    padding-left: 15%;
    padding-right: 15%;
    display: flex;   
}

.mobileMenuButton {
    display: none;
}

.navbar .title {
    font-family: "Nunito", -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    flex-grow: 1;
    height: 100%;
    line-height: 76px;
}

.navbar .title a {
    font-size: 2em;
    display: inline-block;
    vertical-align: middle;
    color: black;
}

.navbar .links {
    display: inline-flex;
    list-style: none;
    line-height: 38px;
}

.navbar .links .link {
    padding-left: 4px;
    padding-right: 4px;
}

.jumbotron {
    margin: 0;
    padding-top: 12%;
    padding-bottom: 10%;
    padding-left: 7%;
    padding-right: 7%;
    text-align: center;
    background-color: #f4f4f4;
    font-family: "Nunito", -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.jumbotron .title {
    font-size: 3em;
}

.jumbotron .subtitle {
    font-size: 1em;
    color: #333;
}

.jumbotron .buttons {
    margin-top: 16px;
}

.paper {
    padding-left: 15%;
    padding-right: 15%;
    padding-bottom: 25%;
}

.paper-margins {
    padding-left: 15%;
    padding-right: 15%;
    padding-top: 10%;
    font-family: "Nunito", -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.paper .meta {
    display: none;
}

.paper h2:not(.subtitle) {
    margin-top: 64px;
}

.paper section {
    margin-top: 24px;
    margin-bottom: 24px;
}

.paper section p {
    line-height: 2.0em;
    font-size: calc(12pt + 5%);
}

.paper section code {
    font-family: 'Fira Code', 'Courier New', Courier, monospace;
    font-size: 1.05em;
}

.paper section pre {
    padding-top: 24px;
    padding-bottom: 24px;
    background-color: #f4f4f4;
    margin-left: 0;
    margin-right: 0;
    padding-left: 48px;
    padding-right: 8px;
    white-space: normal;
    word-wrap: break-word;
}

.paper section ul li {
    line-height: 2.0em;
}

.paper section img {
    width: 100%;
    margin-top: 16px;
    margin-bottom: 16px;
    box-shadow: 0 0 4px #999;
}

.paper section .caption:not(section.see-also .caption) {
    font-size: 0.95em;
    font-family: "Nunito", -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 700;
    padding-bottom: 24px;
}

.paper section.see-also {
    padding-top: 8px;
    padding-bottom: 8px;
    background-color: #f4f4f4;
    padding-left: 20px;
    padding-right: 20px;
}

.paper section.see-also .title {
    font-weight: 300;
}

.paper section.see-also .content {
    text-align: center;
}

.paper section.see-also .content * {
    width: 100%;
}

.paper section.see-also .caption {
    font-family: "Nunito", -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    opacity: 0.8;
}

.paper section.sources {
    margin-top: 64px;
    word-wrap: break-word;
}

.paper section.sources .source {
    padding-left: 1.25em;
    text-indent: -1.25em;
    word-wrap: break-word;
}

.paper section blockquote {
    padding-top: 24px;
    padding-bottom: 24px;
    font-style: italic;
    background-color: #f4f4f4;
    margin-left: 0;
    margin-right: 0;
    padding-left: 48px;
    padding-right: 8px;
    border-left-color: #333;
    border-left-width: 2px;
    border-left-style: solid;
}

.buttons {
    display: inline-block;
    text-align: center;
    margin-bottom: 24px;
    width: 100%;
}

.buttons.fullwidth {
    display: flex;
    text-align: center;
}

.button {
    background-color: #03b381;
    color: #fff;
    border-radius: 4px;
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 8px;
    padding-bottom: 8px;
    text-decoration: none;
    font-family: "Nunito", -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-top: 16px;
    margin-bottom: 16px;
    margin-left: 4px;
    margin-right: 4px;
}

.button:hover {
    background-color: #35C29A;
}

.button.fullwidth {
    width: 100% !important;
}

.paper h1, .paper h2, .paper h3, .paper h4, .paper h5, .paper h6 {
    font-family: 'Nunito', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.paper-margins .title {
    color: #000;
}

.paper-margins .subtitle {
    color: #666;
    line-height: 0.5em;
}

@media (prefers-color-scheme: dark) {
    html, body {
        background-color: #181b21;
        color: #edf3ff;
    }

    .navbar {
        background-color: #22262e;
        border-bottom-color: #14171c;
        border-bottom-width: 2px;
        border-bottom-style: solid;
    }

    .navbar title a {
        color: white;
    }

    .jumbotron {
        background-color: #22262e;
    }

    .jumbotron .subtitle {
        color: #999999;
    }

    .paper-margins .title {
        color: #fff;
    }

    .paper-margins .subtitle {
        color: #999;
    }

    .paper section pre {
        background-color: #22262e;
        margin-left: 0;
        margin-right: 0;
        padding-left: 48px;
        padding-right: 8px;
    }

    .paper section blockquote {
        background-color: #22262e;
        margin-left: 0;
        margin-right: 0;
        padding-left: 48px;
        padding-right: 8px;
        border-left-color: #000;
        border-left-width: 2px;
        border-left-style: solid;
    }

    .paper section.see-also {
        padding-top: 8px;
        padding-bottom: 8px;
        background-color: #22262e;
        padding-left: 20px;
        padding-right: 20px;
    }

    footer {
        background-color: #22262e;
    }
}

@media (max-width: 768px) {

    .navbar {
        height: auto;
        display: block;
    }

    .navbar .navbar-flex {
        padding-left: 5%;
        padding-right: 5%;
        display: block;
    }

    .navbar .title {
        height: 80%;
        line-height: 64px;
    }

    .mobileMenu {
        display: none;
    }

    .mobileMenu-open {
        display: block;
    }

    .mobileMenuButton {
        color: #666;
        border-style: solid;
        border-width: 2px;
        width: 64px;
        margin-top: 8px;
        margin-bottom: 8px;
        border-radius: 4px;
        width: 100%;
        text-align: center;
        display: block;
        padding-top: 8px;
        padding-bottom: 8px;
    }

    .navbar .links {
        display: block;
        line-height: 36px;
        padding-left: 0;
    }

    .navbar .links .link {
        padding-left: 0;
        padding-right: 0;
    }

    .paper {
        padding-left: 16px;
        padding-right: 16px;
        padding-top: 8px;
        padding-bottom: 32px;
    }

    .paper section pre code {
        font-family: 'Fira Code', 'Courier New', Courier, monospace;
        font-size: 0.75em;
    }

    footer {
        padding-left: 16px;
        padding-right: 16px;
        padding-top: 16px;
        padding-bottom: 16px;
    }

    .paper section .buttons {
        display: inline-flex;
        text-align: center;
        margin-bottom: 24px;
        width: 100%;
    }
}

@media (min-width: 1024px) {

    .jumbotron {
        padding-left: 15%;
        padding-right: 15%;
    }

}